@CHARSET "UTF-8";

	
/*light box window formating */

	#sbox-window{
		/* border */
		padding:0 !important;
		border:5px solid #444;
		background-color:#444;
	}
	
	#sbox-window, #sbox-content{
		/* rounded corner */
		-moz-border-radius: 15px !important;
		-webkit-border-radius: 15px !important;
		border-radius: 15px !important;	
	}
