/*
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
 */

/* Table of content
1.General - This is created general styles and overide some bootstrap classes.
2.Layout
 2.1 Animations
 2.2 Buttons
 2.3 Thumbnail - overide bootstrap thumbnail and add mased efect
 2.4 Socail icons -style for social icons list
3 Sections - definition for section and subsection
 3.1 projectss
 3.2 Portfolio
 3.3 About
 3.4 Clients
 3.5 Price table
 3.6 Newsletter
 3.7 Contact
 3.8 Footer
4 Responsive 
**********************************************************************/

/*
1. General
**********************************************************************/
 body {
    font-family:'Roboto', sans-serif;
    color: #FFF;
	background: url(../images/background.jpg) #181A1C no-repeat;
    line-height:1.2em;
    font-size:17px;
    line-height:20px;
}
a {
    color:#181A1C;
    text-decoration: none;
}
a:hover {
    color: #FECE1A;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    margin: 10px;
}
p {
    padding: 10px;
    font-weight: 100;
    color: #fff;
}
.navbar {
    background: #181A1C;
    margin-bottom:0;
    min-height:70px;
}

.navbar-fixed-top {
    min-height:60px;
    height:60px;
    padding-top:0;
	margin-top:10px;
}
.navbar-inner {
    background: #FECE1A;
    border-radius:0;
    filter: none;
    border: none;
    box-shadow: none;
}
.navbar .brand img {
	width:auto;
    max-width:100%;
	height:auto;
    max-height:90px;
}
.navbar .nav > .active > a{
    
        border: 1px solid #FECE1A;
    color: #fff;
    background-color: #181A1C!important;
    transition: border-color 1s ease;
}

.navbar .nav > li > a {
    text-transform:uppercase;
    line-height: auto;
    vertical-align: middle;
    margin:10px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
/*    border: 1px solid #181A1C;	*/
    box-shadow: none;
    font-size:15px;
    text-shadow: none;
    color: #000;
    transition: border-color 1s ease;
}
.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border: 1px solid #FECE1A;
    color: #fff;
    background-color: #181A1C!important;
    transition: border-color 1s ease;
}
.nav-pills {
    margin-bottom: 30px;
}
.nav-pills > li > a {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right:5px;
    padding-left:25px;
    padding-right:25px;
    border: 1px solid #FFF;
	color:#FFF;
}
.nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background: #181A1C;
    color: #fff;
}
.navbar .btn-navbar:hover, .navbar .btn-navbar {
	margin-top:15px;
    border-radius:0;
    background:#FECE1A;
    color: #000;
}
/******
2. Layout
**********************************************************************/
.centered {
    margin-left:auto;
    margin-right:auto;
    float: none;
    text-align: center;
}
/* Use this class if you want ceter element with span* class */
 .center {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}
.highlighted-box {
    background:#F4F8F9;
    padding:20px 30px;
}
.highlighted-box h1 {
    margin:0px;
}
.large-text {
    line-height:1.2em;
    font-size: 30px;
    color: #FECE1A;
    padding:20px;
    margin-bottom:20px;
}
.highlighted-box h1, .highlighted-box p {
    color: #181A1C !important;
}
.circle-border {
    display: inline-block;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px;
    border: 3px solid #fff;
}
.left-align {
    text-align:left;
}
.right-align {
    text-align:left;
}
.error {
    color: #CF0000;
    display: none;
}
.invisible {
    display:none;
    visibility:visible;
}
.triangle {
    margin: 0 auto;
    text-align:center;
    width: 0;
    height: 0;
    border-top: 30px solid #181A1C;
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: relative;
}
/*
2.1 Animations
**********/
 .zoom-in {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}
.zoom-in:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
/*
2.2 Buttons - There are buttons on a transparent background, primary and secondary color background.
**********/
 .button,  .button:visited, .button:focus {
    display:inline-block;
    border:1px solid #181A1C;
    color:#181A1C;
    background-color:transparent;
    padding:15px 30px;
    font-size:17px;
    line-height:auto;
	cursor: pointer;
}
.button:hover, .button:active{
    background-color:#181A1C;
    color:#fff;
}
.button-sp, .button-sp:visited, .button-sp:focus {
    border:none;
    background-color:#FECE1A;
    color:#181A1C;
}
.button-sp:hover, .button-sp:active {
    background-color:#181A1C;
    color:#FECE1A;
}
.button-ps, .button-ps:visited, .button-ps:focus {
    border:none;
    background-color:#181A1C;
    color:#FECE1A;
}
.button-ps:hover, .button-ps:active {
    background-color:#FECE1A;
    color:#181A1C;
}
/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/
 .thumbnail {
    width:100%;
	max-width:250px;
    height:auto;
    padding:0;
    overflow: hidden;
    position: relative;
    border:0;
    border-radius:0;
    box-shadow:none;
    text-align:center;
    background: #191a1c;
}
.thumbnail > img {
	width:100%;
	max-width:250px;
	height:auto;
	max-height:250px;
}

.thumbnail .more {
    display:block;
    z-index:4;
    position:absolute;
    top:-100px;
    left:50%;
    margin:0 auto;
    margin-left:-41px;
    width:80px;
    height:80px;
    font-size:40px;
    color:#fff;
    text-decoration:none;
    line-height: 70px;
    text-align: center;
}
.thumbnail:hover .more {
    top:40%;
    margin-top:-40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3 s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.thumbnail h3, 
.thumbnail p {
    margin:0;
    padding:0;
    position:relative;
    z-index:4;
}
.thumbnail h3 {
    color: #FECE1A;
    margin-top:10px;
    font-size:20px;
}
.thumbnail > p {
    padding-bottom:20px;
}
.thumbnail .mask {
    opacity:0.85;
    filter: alpha(opacity=85);
    top:100%;
    left:0;
    width:100%;
    height:100%;
    background:#181A1C;
    position:absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2 s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.thumbnail:hover .mask {
    top:0;
}
/*
2.4 Socail icons
************/
 .social {
    list-style: none;
    float: none;
    position:relative;
    margin:5px; auto;
}
.social li {
    display:inline-block;
    line-height: 32px;
    font-family:'Porta';
    font-size: 32px;
    padding:0 5px;
}
.social li a {
    margin:0;
    padding:0;
    width:32px;
    height:32px;
    color: #FECE1A;
}
.social li a:hover {
    color:#181A1C;
}
/*
3. Sections 
***************************************************************************/
 .section {
    padding-bottom: 0px;
}
.section .container {
    padding-top:50px;
}
.section .title {
    text-align: center;
    padding:10px;
    margin-bottom: 30px;
}
.section .title h1 {
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}
.section .title > p {
    font-size: 20px;
    color: #FFF;
    font-weight: lighter;
}
.primary-section {
 
    /*background:#FECE1A;*/
    background:#000000;
}
.primary-section .triangle {
    /*border-top: 40px solid #191818;*/
    border-top: 40px solid #fece1a;
}
.primary-section .title {
    border-bottom: 1px solid #FFF;
}
.primary-section, .primary-section .title p, .primary-section h3 {
    color: #FECE1A;
}
.primary-section h1 {
    color:#FFF;
}
.secondary-section {
    background: #FECE1A !important;
}
.secondary-section .title {
    border-bottom: 1px solid #181A1C;
}
.secondary-section h1, .secondary-section .title p {
    color: #181A1C;
}
/* Third section use bacground image */
.third-section {
    padding-bottom: 70px;
    background: #181A1C url(../images/brand-bg.png) no-repeat center;
    border-top:none #FECE1A;
}
.third-section .container {
    padding-top:50px;
    position:relative;
}
.third-section .title {
    border-bottom: 1px solid #A1AAB7;
    color: #FECE1A;
}
.sub-section {
    margin-top:30px;
}
.sub-section .title {
    padding:0;
}
.third-section .title1 {
    color: #FECE1A;
}
/*******
3.1 projectss  
***************************************/
.projects{
    margin-top:0px;
}
 .projects, .projects h2 {
    padding-top:5px;
}
 #projects, .projects h3 {
    padding-top:0px;
	text-align:center;
}
.projects p {
    padding:0px 50px;
    max-height:50px;
}
.projects img {
	width:100%;
    max-width:250px;
    max-height:250px;
}
/*
3.2 Portfolio
***************************************/
 .single-project {
    margin-bottom:30px;
    background:#181A1C;
}
.single-project img {
    /*width: 100%;*/
max-width: 800px;
height: auto;
max-height: 280px;
}
.project-description {
    padding-right:20px;
}
.project-description p {
    padding-left:0;
}
.project-title {
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:1px solid #FECE1A;
}
.project-title h3 {
    float:left;
    margin-top:0;
    padding:0;
    width:80%;
}
.project-title .close {
    color: #FECE1A;
    margin-top:10px;
}
.project-info span, .project-title h3 {
    color:#FECE1A;
}
.project-info {
    font-weight:100;
    padding:10px 0;
}
.project-info span {
    width: 120px;
    display: inline-block;
}
.project-info div {
    margin-bottom:5px;
}
.close {
    float: right;
    width: 40px;
    height: auto;
    text-align: center;
}
#portfolio-grid .mix {
    opacity: 0;
    display: none;
}
/*
3.3 About
******************************************************************/
 .team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}
.team .thumbnail:hover .social {
    z-index: 5;
}
.team .thumbnail:hover .social a {
    color:#fff;
}
.team .thumbnail .mask {
    background: #FECE1A;
}
.team .thumbnail .mask h2 {
    margin-top:20%;
}
.team .thumbnail .mask, .team .thumbnail .mask h3, .team .thumbnail .mask p, .team .thumbnail:hover h3, .team .thumbnail:hover .social a:hover {
    color:#181A17;
}
.about-text {
    margin-top:30px;
}
.about-text h4{
	color:#181A17;
}
.about-text p {
    padding:0;
    font-size:16px;
	color:#181A17;
}
/*********************************************************************
                        SKILLS BAR
*********************************************************************/
 .skills {
    list-style-type: none;
    position: relative;
    margin:0px;
}
.skills li {
    margin-bottom:30px;
    background:#FFF;
    height:40px;
    padding:1px;
}
.skills li h3 {
    position: relative;
    font-size: 15px;
    padding:0;
    margin:0;
    left: 10px;
    z-index: 1;
    color: #181A1C;
}
.skills li .bar {
    height:40px;
    position:absolute;
    background-color: #FECE1A;
}
/*
3.4 Clients
**********************************************************************/
 
 .client-slider img {
	max-height:110px;
	max-width:110px;
	width:100%;
    border:1px solid white;
}
.client-slider img:hover {
    background-color:#FECE1A;
}
.client-nav {
    list-style:none;
    margin-top:10px;
}
.client-nav li {
    float:left;
    display:block;
    margin-left:10px;
}
.client-nav li a {
    display:inherit;
    padding:5px;
    background:#FECE1A;
    border-radius:3px;
    width:20px;
    height:20px;
}
.client-nav li a:hover {
    background:#181A1C;
}
.testimonial p {
    color: #181A1C;
    background: #FECE1A;
    padding: 15px;
    margin: 0;
    min-height: 161px !important;
}
.testimonial .arrow {
    margin-left:25px;
    width:0;
    border-top:10px solid #FECE1A;
    border-left: 20px outset transparent;
    border-right: 20px outset transparent;
}
.testimonial .whopic {
    display:inline-block;
}
.testimonial .whopic img {
    width:110px;
    height:110px;
    float:left;
	border-radius: 65px;
	border: 2px solid #eee;
	box-shadow: 0px 3px 3px 2px rgba(255, 203, 0, 0.37);
            background-color: white !important;
}
/*.testimonial .whopic strong {
    float:left;
    margin-top:10px;
    padding-left:10px;
}*/
.testimonial .whopic strong {
    float: left;
    margin-top: -6px !important;
    padding-left: 10px !important;
    padding: 41px !important;
}
.testimonial .whopic small {
    display:block;
    font-size:12px;
    
}
.testimonial-text{
    display:block;
    font-size:22px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    width:70%;
    line-height:1.3em;
}
/*
3.5 Price table
******************************************************************/
 .price-table {
    margin-top: 70px;
    margin-bottom: 20px;
}
.price-column {
    background-color:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom:20px;
    margin:0 auto;
    text-align:center;
}
.price-column h3 {
    background-color:#181A1C;
    text-transform:uppercase;
    text-align: center;
    color:#FECE1A;
    padding:40px 0px;
    font-size: 36px;
    margin-top:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    
}
.price-column .list{
    list-style:none;
    margin:20px 50px;
}
.price-column .list li{
    font-weight:lighter;
    color:#747C89;
    font-size:20px;
    border-bottom:1px solid #747C89;
    padding:25px 0px;
}
.price-column .list li.price {
    text-align: center;
    font-size:31px;
    background-color:white;
    color:#747C89;
    margin-top:25px;
}
.price-text{
    margin:30px 0 20px;
    font-size:20px;
    color: #181A1C;
    font-weight:normal;
}
/*
3.6 Newsletter
********************************************************************/
 .newsletter, .newsletter h1 {
    color: #FFF;
}
.newsletter .title h2 {
    text-align:left;
    padding:0;
    margin:0;
}
.newsletter form {
    text-align:right;
}
.newsletter input {
    margin-top:10px;
    padding:15px;
    height: auto;
}
.newsletter button {
    margin: 0 0 0 20px;
}
.newsletter .button-sp:hover, .newsletter .button-sp:active {
    background-color:#FFF;
    color:#181A1C;
}

/*
3.7 Contact
********************************************************************/
 .contact {
    background: #FECE1A;
}
.contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact .section .title > p, .contact .social > li > a {
    color: #181A1C;
}
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
}
.contact textarea {
    height: 120px;
}
.contacts, .contact .social {
    color: #fff;
    list-style: none;
    margin-left: 10px;
}
.contacts > li {
    margin-top: 15px;
}
.contacts > li > a {
    color: #fff;
}
.contact-info {
    margin-top:10px;
    margin-bottom:10px;
}
.contact-info p{
     font-weight:normal;
}
.contact-info .icon {
    margin:10px auto;
    font-size:30px;
}
.map-wrapper {
    position:relative;
    height:500px;
}
.map-canvas {
    position:absolute;
    margin-bottom:20px;
    width:100%;
    height:600px;
    color: #29383F;
    position:absolute;
    left:0;
    top:0;
    right:0;
}
.contact .social {
    display: inline-block;
    margin-left:0;
}
.contact .social li {
    line-height: 32px;
    padding:10px 10px;
    font-family:'Porta';
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}
.contact .social li a {
    color:#fff;
}
.contact .social li a:hover {
    color:#181A1C;
}
.contact-form {
    background:#fff;
    background: rgba(255, 255, 255, 0.9);
    z-index:110;
    position:relative;
    margin-top:-25px;
    padding:20px;
}
.contact-form h3 {
    color:#838589;
    padding-bottom:20px;
}
.message-btn {
    border:1px solid #747C89;
    color:#747C89;
    background-color:transparent;
    padding:15px 30px;
    font-size:17px;
}
.message-btn:hover {
    background-color:#FECE1A;
}
.contact-info {
    text-align:center;
    font-size:22px;
}
.info-mail {
    border:1px solid white;
    width:60%;
    margin:0 auto;
    padding:15px;
    color:#181A1C;
}
.black {
    color:#181A1C;
}
/*
3.8 Footer
********************************************************************/
 .footer {
    background: #181A1C;
    text-align: center;
}
.footer > p {
    color: #fff;
    margin:0;
}
.scrollup {
    text-align:center;
    cursor:pointer;
    vertical-align:middle;
    width:39px;
    height:39px;
    border-radius:5px;
    font-size:20px;
    position:fixed;
    bottom:30px;
    right:20px;
	border:1px solid #fff;
    display:none;
    background: #FECE1A;
}
.scrollup > a {
    position:relative;
    top:7px;
    color:#fff;
}
.nav-collapse.collapse{
	margin-top:25px;
}
/*
4 Responsible
********************************************************************/
 @media (min-width: 1200px) {
    .thumbnail .more {
        margin-left:-41px;
        width:80px;
        height:80px;
        border-radius:40px;
        line-height: 80px;
    }
}
@media (max-width: 979px) {
    body {
        padding-left:0;
        padding-right:0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }
}
@media (max-width: 767px) {
	.brand-name{
margin-top:5px !important;
}
    .info-mail {
        width:90%;
        padding:15px 0px;
    }
    .project-description {
        padding-left:20px;
    }
    .price-column, .testimonial {
        margin-top:30px;
    }
	.nav-collapse.collapse{
		margin-top:0;
	}
}

.apply {
  height: auto;
  width: auto;
  padding: 8px 15px;
  background: #FECE1A;
  color: #2d2d2d !important;
  font-size: 12px !important;
  font-family: 'RobotoRegular';
  position: relative;
  top: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }
 .bx-wrapper #clint-slider  img{
  display:inline;
  width:110px;
  height:110px;
  border-radius: 50%;
  border: 2px solid #eee;
  box-shadow: 5px 0px 0px -2px rgba(0, 0, 0, 0.66);
  }
  
 .bx-wrapper #clint-slider{
 max-width: 2000px !important;
 margin:0 auto 0px !important;
 }  
  
#abt img {
   width: 100%;
  max-width: 1000px;
  height: auto;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
/* Enquiry Pop up */
::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:-moz-placeholder {
  color: #879fa6 !important;
}

::-webkit-input-placeholder {
  color: #879fa6;
}

:-ms-input-placeholder {
  color: #879fa6 !important;
}

body {
    font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
    color: #404040;
    background: #181A1C;
        margin-top: -5px;
}

input, textarea, select, label {
  font-family: inherit;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.enquiry {
  display:none;
  margin: 0px auto;
  padding: 5px;
  max-width: 320px;
  background: #eef5f7;
  position: fixed;
  top: 5%;
  left: 40%;
  z-index: 99999;
  border: 1px solid #cfd5da;
  border-bottom-color: #ccd1d6;
  border-radius: 3px;
}

.enquiry-inner {
  padding: 5px;
  background: white;
  border-radius: 2px;
}

.enquiry:before, .enquiry-inner:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  width: 1px;
  height: 1px;
/*  border: outset transparent;
  border-width: 12px 14px 0;
  border-top-style: solid; */
  -webkit-transform: rotate(360deg);
}
 .enquiry:after, .enquiry-inner:after{
	 border:none;
	   border-width: 0;
  border-top-style: none;
 }
.enquiry:before {
  margin-top: 1px;
  border-top-color: #d8e1e6;
}

.enquiry-inner:before {
  border-top-color: #ccd1d6;
}

.enquiry-inner:after {
  margin-top: -1px;
  border-top-color: #eef5f7;
}

.enquiry:after {
  margin-top: -8px;
  border-top-color: white;
}

.enquiry-input {
  overflow: hidden;
  margin-bottom: 5px;
  padding: 5px;
/*  background: #eef7f9;*/
  border-radius: 2px;
}
.enquiry-input > input, .enquiry-input > textarea {
  display: block;
  width: 100%;
  height: 29px;
  padding: 0 9px;
  color: #181a1c;
  background: white;
  border: 1px solid #181a1c;
  border-bottom-color: #181a1c;
  border-radius: 2px;
}
.enquiry-input > input:focus, .enquiry-input > textarea:focus {
   border: 2px solid #181a1c !important;
  outline: 0;
  -webkit-box-shadow: 0px 0px 0px 8px #E1E1E1
  box-shadow: 0 0 0 8px #e1ecf5;
}
.lt-ie9 .enquiry-input > input, .lt-ie9 .enquiry-input > textarea {
  line-height: 27px;
}
.enquiry-input > textarea {
  padding: 4px 8px;
  height: 90px;
  line-height: 20px;
  resize: none;
}

.select {
  display: block;
  position: relative;
  overflow: hidden;
  background: white;
  border: 1px solid #d2e2e7;
  border-bottom-color: #c5d4d9;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
.select:before, .select:after {
  content: '';
  position: absolute;
  right: 11px;
  width: 0;
  height: 0;
  border-left: 3px outset transparent;
  border-right: 3px outset transparent;
}
.select:before {
  top: 10px;
  border-bottom: 3px solid #7f9298;
}
.select:after {
  top: 16px;
  border-top: 3px solid #7f9298;
}
.select > select {
  position: relative;
  z-index: 2;
  width: 112%;
  height: 29px;
  line-height: 17px;
  padding: 5px 9px;
  padding-right: 0;
  color: #80989f;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-appearance: none;
}
.select > select:focus {
  color: #4d5a5e;
  outline: 0;
}

.enquiry-submit {
  text-align: center;
    margin-bottom: 0px;
}
.enquiry-submit > input {
  display: inline-block;
  vertical-align: top;
  padding: 0 14px;
  height: 29px;
  font-weight: bold;
  color: #FECE1A;
  background: #deeef4;
  border: 1px solid #bed6e3;
  border-bottom-color: #accbd9;
  border-radius: 15px;
  cursor: pointer;
  background-color: #181a1c;
 }
.enquiry-submit > input:active {
  color: #181a1c;
  background: #fff;
  border-color: #FECE1A;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
}
img.btn_close {
	float: right;
    margin: -62px 0px 0 0;
}
/* enquiry pop up end */
/*Share Experience */

.experience {
  display:none;
  margin: 0px auto;
  padding: 5px;
  max-width: 320px;
  background: #eef5f7;
  position: fixed;
  top: 5%;
  left: 40%;
  z-index: 99999;
  border: 1px solid #cfd5da;
  border-bottom-color: #ccd1d6;
  border-radius: 3px;
}

.experience-inner {
  padding: 5px;
  background: white;
  border-radius: 2px;
}

.experience:before, .experience-inner:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  width: 1px;
  height: 1px;
/*  border: outset transparent;
  border-width: 12px 14px 0;
  border-top-style: solid; */
  -webkit-transform: rotate(360deg);
}
 .experience:after, .experience-inner:after{
	 border:none;
	   border-width: 0;
  border-top-style: none;
 }
.experience:before {
  margin-top: 1px;
  border-top-color: #d8e1e6;
}

.experience-inner:before {
  border-top-color: #ccd1d6;
}

.experience-inner:after {
  margin-top: -1px;
  border-top-color: #eef5f7;
}

.experience:after {
  margin-top: -8px;
  border-top-color: white;
}

.experience-input {
  overflow: hidden;
  margin-bottom: 5px;
  padding: 5px;
/*  background: #eef7f9;*/
  border-radius: 2px;
}
.experience-input > input, .experience-input > textarea {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 9px;
  color: #181a1c;
  background: white;
  border: 1px solid #181a1c;
  border-bottom-color: #181a1c;
  border-radius: 2px;
}
.experience-input > input:focus, .experience-input > textarea:focus {
   border: 2px solid #181a1c !important;
  outline: 0;
  -webkit-box-shadow: 0px 0px 0px 8px #E1E1E1
  box-shadow: 0 0 0 8px #e1ecf5;
}
.lt-ie9 .experience-input > input, .lt-ie9 .experience-input > textarea {
  line-height: 27px;
}
.experience-input > textarea {
  padding: 4px 8px;
  height: 90px;
  line-height: 20px;
  resize: none;
}

.experience-submit {
  text-align: center;
    margin-bottom: 0px;
}
.experience-submit > input {
  display: inline-block;
  vertical-align: top;
  padding: 0 14px;
  height: 29px;
  font-weight: bold;
  color: #FECE1A;
  background: #deeef4;
  border: 1px solid #bed6e3;
  border-bottom-color: #accbd9;
  border-radius: 15px;
  cursor: pointer;
  background-color: #181a1c;
 }
.experience-submit > input:active {
  color: #181a1c;
  background: #fff;
  border-color: #FECE1A;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
}


/* Share experience ends here */
/* job apply pop up */


.job-apply {
  display:none;
  margin: 0px auto;
  padding: 17px;
  max-width: 320px;
  background: #eef5f7;
  position: fixed;
  top: 5%;
  left: 40%;
  z-index: 99999;
  border: 1px solid #cfd5da;
  border-bottom-color: #ccd1d6;
  border-radius: 3px;
}

.job-apply-inner {
  padding: 5px;
  background: white;
  border-radius: 2px;
}

.job-apply:before, .job-apply-inner:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  width: 1px;
  height: 1px;
/*  border: outset transparent;
  border-width: 12px 14px 0;
  border-top-style: solid; */
  -webkit-transform: rotate(360deg);
}
 .job-apply:after, .job-apply-inner:after{
	 border:none;
	   border-width: 0;
  border-top-style: none;
 }
.job-apply:before {
  margin-top: 1px;
  border-top-color: #d8e1e6;
}

.job-apply-inner:before {
  border-top-color: #ccd1d6;
}

.job-apply-inner:after {
  margin-top: -1px;
  border-top-color: #eef5f7;
}

.job-apply:after {
  margin-top: -8px;
  border-top-color: white;
}

.job-apply-input {
  overflow: hidden;
  margin-bottom: 5px;
  padding: 5px;
/*  background: #eef7f9;*/
  border-radius: 2px;
}
.job-apply-input > input, .job-apply-input > textarea {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 9px;
  color: #181a1c;
  background: white;
  border: 1px solid #181a1c;
  border-bottom-color: #181a1c;
  border-radius: 2px;
}
.job-apply-input > input:focus, .job-apply-input > textarea:focus {
   border: 2px solid #181a1c !important;
  outline: 0;
  -webkit-box-shadow: 0px 0px 0px 8px #E1E1E1
  box-shadow: 0 0 0 8px #e1ecf5;
}
.lt-ie9 .job-apply-input > input, .lt-ie9 .job-apply-input > textarea {
  line-height: 27px;
}
.job-apply-input > textarea {
  padding: 4px 8px;
  height: 90px;
  line-height: 20px;
  resize: none;
}

.job-apply-submit {
  text-align: center;
    margin-bottom: 0px;
}
.job-apply-submit > input {
  display: inline-block;
  vertical-align: top;
  padding: 0 14px;
  height: 29px;
  font-weight: bold;
  color: #FECE1A;
  background: #deeef4;
  border: 1px solid #bed6e3;
  border-bottom-color: #accbd9;
  border-radius: 15px;
  cursor: pointer;
  background-color: #181a1c;
 }
.job-apply-submit > input:active {
  color: #181a1c;
  background: #fff;
  border-color: #FECE1A;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
}

/*job apply pop up ends here */
/* Project Details nav tabs */

#details .nav-tabs > li > a {
  font-size: 1.1em;
  padding: 10px 15px;
  background-color: #fff;
  color: #555 !important;
  text-align: center;
  border: 1px solid #555;
  border-radius: 0px;
  margin-top: 5px;
}
#details .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

#details .nav-tabs {
    text-align:center;
	border:none;
}

#details ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
}
#details ul li {     
          list-style:none;
          margin-bottom:25px;           
}
#details ul li img {
          cursor: pointer;
}

#details div.row > div > div.row {
                margin-bottom: 15px;
            }
            body {
                padding-bottom: 0px;
            }
            div.top-header {
                margin-bottom:100px;
            }
            h3.page-header {
                margin-top: 50px;
            }
            figure {
                position: relative;
            }
            figure figcaption {
                font-size: 22px;
                color: #fff;
                text-decoration: none;
                bottom: 10px;
                right: 20px;
                position: absolute;
                background-color: #000;
            }
			code {
				white-space: pre-wrap;       /* css-3 */
				white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
				white-space: -pre-wrap;      /* Opera 4-6 */
				white-space: -o-pre-wrap;    /* Opera 7 */
				word-wrap: break-word;       /* Internet Explorer 5.5+ */
			}
#details .nav-tabs>li.active>a {
  background-color: #555 !important;
  color: #fff !important;
}
#details .nav > li > a:focus, .nav > li > a:hover, .nav > li>a:active{
    background-color: #555;
	color: #FECE1A !important;
}
#details .interest {
	width: 100%;
	height: auto;
	margin: 0px 20px 15px 0px;
	float: left;
	padding: 15px 0px 0px 0px;
	font-weight: bold;
	font-size: 14px;
	border: 0px;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	background-color:#555;
	line-height:15px;
}
#details .interest ul {width: 100%; height:auto; list-style:none; margin:auto; padding:0px; float:none;}
#details .interest ul li {width: 100%; height:auto; list-style:none; margin:0px; padding:0px 0px 8px 0px; float:left;}

.interested { top:0px; height: 49px !important; }
.img-responsive {
    display: inline;
    margin-bottom: 10px;
}
.modal-body{
	overflow: hidden;
	height:auto;
	max-height:700px;
}
.section-map iframe{
width: 100% !important;
max-height: 450px !important;
}
#location img{
max-width:100%;
max-height:300px;
margin:0 auto;	
}
.modal-header{
padding: 0px 5px;	
}
.modal.fade.in{
	top:2%;
}
#project-logo{
width:100%;
max-width:250px;
height:auto;
max-height:250px;
text-align:center;
margin-top: 20px;	
}
.brand-name{
color:#000;
margin-top:20px;	
font-size:20px;
float:right;
}
.brand-name span{
color:#000;
font-size:13px;
float:left;
}
/* Project details nav tabs ends here */
.navbar .brand{
	float:right;
}
.row-fluid [class*="span"]{
    float:right;
}
.modal{
left:38%!important;
width:auto;
}
#small-thumb img{
	width:250px;
	height:141px;
}
.product-details{
	margin:0 5px;
}
@media(max-width:1280px){
	.modal{
	left:38%!important
	}
}
@media(max-width:980px){
	.modal{
	left:36%!important;
	}
.job-apply{left:33%;}
}
@media(max-width:768px){
.modal{
left:0%!important;}
.job-apply{left:25%;}
}
@media(max-width:480px){
.modal{
left:0%!important;}
.job-apply{left:2%;}
}
.navbar-fixed-top .navbar-inner{
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
@media (min-width:1200px){
	[class*="span"],.row{
		margin-left:0;
	}
	
}
@media (min-width:1200px) and (max-width:1500px){
    .contct{
        width: 1350px;
    }
}